.greetingForm {
    color: darkgreen;
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: #cc0000;
}

.input {
    color: #0059b3;
}

.input:focus {
}

.errorInput {
}

.button {
}

.button:focus {

}

.button:active {
    background-color: #0059b3;
}

.button:disabled {
    color: grey;
}

.text {
}

.greeting {
}
